
/* Filter form styles */

.mri-filter-form button[type=submit]{
  display:none;
}
.mri-filter-form fieldset{
  display:flex;
  align-content:  space-around;
  flex-wrap: wrap;
  padding: 2rem;
}

.mri-filter-form fieldset .field{
  margin-right: 1em;
}

.mri-filter-form select{
  width: 100%;
}


/* Pagination styles */

.react-paginate {
  padding-top: 1em;
  padding-bottom: 1em;
}

.react-paginate ul {
  display: inline-block;
  margin: 0;
}

.react-paginate li {
  display: inline-block;
  margin: 0;
}

.react-paginate .pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.react-paginate .pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  color: #555;
}

.react-paginate .page-link-li {
  font-weight: bold;
}

.react-paginate .active a {
  color: #fff;
  background: #555;
}

.react-paginate .disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
